body {
    background-color: black;
    background-image: url('https://cdn.wallpapersafari.com/77/18/sVv7RC.jpg');
  }
#name1
{
    color: rgb(255, 177, 59);
    text-align: center;
}
#name1a
{
  display:inline-block;
  background: black;
}
#propic
{
  border-radius: 25%;
    width: 15%
}
h3{
  color: white;
  
}
  p {
    color: red;
  }