body {
    background-color: black;
    background-image: url('https://cdn.wallpapersafari.com/77/18/sVv7RC.jpg');
  }
#name1
{
    color: rgb(224, 141, 15);
    text-align: center;
}
#propic
{
    width: 10%
}
  p {
    color: red;
  }